@font-face {
    font-family: main;
    src: url(./other/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: delbar;
    src: url(./other/fonts/Delbar\ Bold.ttf);
}

:root {
    --main-color : #00001c;
    --text-color : #fafafadd;
    --opacity_color : #58585857;
    --gradient-them : linear-gradient(to right, #00aede, #0072ff);
    --gradient-main : linear-gradient(164deg, #000000 0%, #00001c 35%, #002136 100%);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: main;
    color: var(--text-color);
}

html {
    background-color: var(--main-color);
}

body {
    background: var(--main-color);
    background: var(--gradient-main);
    min-height: 100vh;
    min-width: 300px;
}

/* start navigation for my name */
nav {
    background-color: var(--main-color);
    z-index: 1;
    width: 100%;
    padding: 1.1em;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav h3 {
    font-weight: bold;
    font-size: 18px;
    animation: my-name .7s ease 0s 1 normal forwards;
    font-family: delbar;
}
@keyframes my-name {
    0% {
        color: #00000000;
        margin-left: -50px;
        letter-spacing: -109;
    }
    100% {
        margin-left: 0;
        opacity: 1;
        color: var(--text-color);
        letter-spacing: 0;
    }
}

/* start chatts container and messages */
main {
    width: 100%;
    padding: .5em;
    animation: main .7s ease 0s 1 normal forwards;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
}
@keyframes main {
    0% {
        opacity: 0;
        color: #00000000;
        margin-top: 15px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
        color: var(--text-color);
    }
}
.messages {
    background-color: var(--opacity_color);
    padding: 1em;
    width: fit-content;
    border-radius: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    max-width: 21em;
}
.messages:last-child {
    margin-bottom: 5em;
}
@keyframes message {
    0% {
        opacity: 0;
        color: #00000000;
        margin-top: 15px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
        color: var(--text-color);
    }
}
.sys {
    border-bottom-left-radius: 7px;
    padding-left: 1.5em;
}
.user {
    border-bottom-right-radius: 7px;
    background: var(--gradient-them);
    align-self: flex-end;
    padding-right: 1.5em;
}

.messages-time {
    display: block;
    margin-top: 10px;
    opacity: 0.5;
    font-size: .7rem;
    text-align: start;
}
.user .messages-time {
    text-align: end;
    
}

/* start footer and input message */
footer {
    width: 90vw;
    overflow: hidden;
    background-color: var(--main-color);
    position: fixed;
    bottom: .7em;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: footer .5s ease 0s 1 normal forwards;
    padding-left: .6em;
    min-width: 300px;

    /* From https://css.glass */
    background: rgba(41, 41, 41, 0.61);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid rgba(41, 41, 41, 0.3);
}

@keyframes footer {
    0% {
        opacity: 0;
        bottom: -30px;
    }
    100% {
        opacity: 1;
    }
}

#input_message {
    background-color: transparent;
    width: 80%;
    height: 100%;
    padding: .5em;
    border-radius: 10px;
}

#send_btn {
    background: var(--gradient-them);
    margin-left: .5em;
    width: 3em;
    height: 3em;
    padding: .5em;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 900;
}

@keyframes send {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(25px, -20px);
    }
}
@keyframes ready_to_send {
    0% {
        transform: translate(-25px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}